.container{
  
display: flex;
justify-content: space-between;
margin-left: 2.5%;
margin-right: 2.5%;
margin-top: 4%;
background-color: #002423;
color:rgb(201, 223, 243);
padding:3%;
font-size: 1rem;
}
