#head{
	margin-left: 30px;
	height: 70px;
	width: 95%;
	background-color: red;
}
p{
	font-weight: bold;
	position: relative;
	top: 15px;
	left: 30px;
	font-size: 30px;
}
#searchinp{
	position: relative;
	left: 50%;
	bottom: 40px;
}
#buttoninp{
	position: relative;
	left: 52%;
	height: 30px;
	width: 150px;
	bottom: 40px;
}