<div class="row custom-row">
  <div class= "col-sm-5 custom-container jumbotron">
       
    <form class="form-horizontal">
        <fieldset>
        <legend>Add news</legend>
            <div class="form-group">
              <label for="id">id</label>
              <input type="text"
                id="id"
                placeholder="id">
            </div>

            <div class="form-group">
              <label for="title">title</label>
              <input type="text"
                id="title"
                placeholder="title">
            </div>
     
            <div class="form-group">
              <label for="minidesc" >minidesc</label>
              <input type="text"
                id="minidesc"
                placeholder="minidesc">
            </div>

            <div class="form-group">
              <label for="main" >main</label>
              <input type="text"
                id="main"
                placeholder="main">
            </div>

            <div class="form-group">
              <label for="photo" >photo</label>
              <input type="photo"
                id="photo"
                placeholder="photo">
            </div>

            <div class="form-group">
              <label for="date" >date</label>
              <input type="date"
                id="date"
                placeholder="date">
            </div>
            
           <!--- Buttons Block --->
            <div class="form-group">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary" click= "Add_Active">Submit</button>
            </div>
        </fieldset>
    </form>
  </div>