<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" #closeBtn class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
 
 
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Title</label>
                        <input name="title" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter title">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Description</label>
                        <textarea name="description" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </textarea>
                    </div>
 
                    
 
                    <button type="button" class="btn btn-primary">Add</button>
                </form>
 
 
            </div>
        </div>
    </div>
</div> -->
<app-menu></app-menu>
<div class="form-group">
  <label for="exampleInputPassword1">Id</label>
  <textarea name="description" class="form-control" id="id" placeholder="ID">
  </textarea>
</div>
<div class="form-group">
  <label for="exampleInputPassword1">title</label>
  <textarea name="description" class="form-control" id="title" placeholder="Password">
  </textarea>
</div>
<div class="form-group">
  <label for="exampleInputPassword1">minidesc</label>
  <textarea name="description" class="form-control" id="minidesc" placeholder="Password">
  </textarea>
</div>
<div class="form-group">
  <label for="exampleInputPassword1">main</label>
  <textarea name="description" class="form-control" id="main" placeholder="Password">
  </textarea>
</div>
<div class="form-group">
  <label for="exampleInputPassword1">photo</label>
  <textarea name="description" class="form-control" id="photo" placeholder="Password">
  </textarea>
</div>
<div class="form-group">
  <label for="exampleInputPassword1">date</label>
  <textarea name="description" class="form-control" id="date" placeholder="Password">
  </textarea>
</div>
<button type="button" class="btn" (click)="Add_Active()">Add</button>